<div class="app-modal-background" [class.visible]="visible === true">

  <div class="app-modal" [class.visible]="visible === true">

      <form (ngSubmit)="submit()" #addForm="ngForm" ngNativeValidate>

        <h2>{{ 'Add Menu Item' | translate }}</h2>

        <label>{{ 'Text (or HTML)' | translate }}</label>
        <input id="hashedit-add-menu-item-html" type="text" maxlength="128" placeholder="" required
          [(ngModel)]="model.html"
          name="html">

        <label>{{ 'CSS Class' | translate }}</label>
        <input id="hashedit-add-menu-item-css-class" type="text" maxlength="128" placeholder=""
          [(ngModel)]="model.cssClass"
          name="cssClass">

        <label>{{ 'Is Nested?' | translate }}</label>
        <select id="hashedit-add-menu-item-is-nested"
          [(ngModel)]="model.isNested"
          name="isNested">
          <option value="true">{{ 'Yes' | translate }}</option>
          <option value="false">{{ 'No' | translate }}</option>
        </select>

        <label>{{ 'URL' | translate }} <a class="toggle-select-url" (click)="showSelect()">{{ 'Select URL' | translate }}</a></label>
        <input id="hashedit-add-menu-item-url" type="text" maxlength="128" placeholder=""
          [(ngModel)]="model.url"
          name="url">

        <label>{{ 'Target' | translate }}</label>
        <input id="hashedit-add-menu-item-target" type="text" maxlength="128" placeholder=""
          [(ngModel)]="model.target"
          name="target">

        <div class="actions">
          <a (click)="hide()">{{ 'Cancel' | translate }}</a>
          <button type="submit">{{ 'Add' | translate }}</button>
        </div>

      </form>

  </div>

</div>

<respond-select-page [visible]="selectVisible" (onCancel)="reset()" (onSelect)="select($event)" (onError)="failure($event)"></respond-select-page>