<respond-subscribe></respond-subscribe>

<menu class="app-menu" *ngIf="showMenu === true" >
  <button class="app-more" (click)="toggleDrawer()"><i class="material-icons">menu</i></button>

  <h1>{{ 'Code' | translate }}</h1>

  <div class="app-actions">
      <button (click)="showAdd()">
        <i class="material-icons">add</i>
        <span>{{ 'Add Code' | translate }}</span>
      </button>
  </div>

</menu>

<menu class="app-menu has-back" *ngIf="showMenu === false">
  <button  class="app-back" (click)="back()"><i class="material-icons">arrow_back</i></button>

  <h1>{{ 'Code' | translate }}</h1>
</menu>

<nav class="code-menu" *ngIf="showMenu === true">

  <h2>{{path}} <i *ngIf="path !== '/'" class="material-icons" (click)="up()">arrow_upward</i></h2>
  <ul>
    <li *ngFor="let file of files" [class.selected]="file.path == selectedFile">
      <a *ngIf="file.isFolder === true" (click)="showFolder(file.path)"><i class="icon material-icons">folder_open</i> {{file.path}}</a>
      <a *ngIf="file.isFolder === false" (click)="showFile(file.path, file.isEditable)">
        <i class="icon material-icons">insert_drive_file</i> 
        {{file.path}}
        <i *ngIf="file.isEditable === false" class="not-editable material-icons">block</i>
      </a>
    </li>
  </ul>

</nav>

<section class="app-main">

  <div id="editor" class="code-editor" [class.expanded]="showMenu === false"></div>

</section>

<footer class="app-footer">
    <div class="app-footer-actions">
      <button (click)="save()" class="primary">{{ 'Save' | translate }}</button>
    </div>
</footer>

<respond-add-code [visible]="addVisible" (onCancel)="reset()" (onAdd)="list()" (onError)="failure($event)"></respond-add-code>

<respond-drawer active="code" [confirm]="true" [visible]="drawerVisible" (onHide)="reset()"></respond-drawer>

<respond-confirm [visible]="confirmVisible" (onCancel)="cancelNavigation()" (onContinue)="continueNavigation()"></respond-confirm>