<respond-message></respond-message>

<menu class="app-menu">

    <button class="app-more" (click)="toggleDrawer()"><i class="material-icons">menu</i></button>
    
    <h1>{{ 'Advanced' | translate }}</h1>
</menu>

<section class="app-main">

  <div id="developer-list" class="app-list">

    <div *ngIf="canSync == true" class="app-list-item" (mouseenter)="setActive('sync')" (click)="setActive('sync')" [class.selected]="selectedOption === 'sync'">
      <h2><span class="primary">{{ 'Sync' | translate }}</span></h2>
      <p>{{ 'Syncs the site to external provider (e.g. Amazon S3, FTP)' | translate }}</p>
      <div class="app-list-actions">
          <a class="primary" (click)="sync()">{{'Execute' | translate }}</a>
      </div>
    </div>
    <!-- sync -->

    <div class="app-list-item" (mouseenter)="setActive('zip')" (click)="setActive('zip')" [class.selected]="selectedOption === 'zip'">
      <h2><span class="primary">{{ 'Download Site as ZIP' | translate }}</span></h2>
      <p>{{ 'Allows you to download your site as a ZIP file.' | translate }}</p>
      <div class="app-list-actions">
          <a class="primary" (click)="zip()">{{'Execute' | translate }}</a>
      </div>
    </div>
    <!-- plugins -->

    <div class="app-list-item" (mouseenter)="setActive('plugins')" (click)="setActive('plugins')" [class.selected]="selectedOption === 'plugins'">
      <h2><span class="primary">{{ 'Re-publish Plugins' | translate }}</span></h2>
      <p>{{ 'When you are developing a plugin, you can use this function to republish the pages so the plugin update takes effect.' | translate }}</p>
      <div class="app-list-actions">
          <a class="primary" (click)="reload()">{{'Execute' | translate }}</a>
      </div>
    </div>
    <!-- plugins -->

    <div class="app-list-item" (mouseenter)="setActive('reindex')" (click)="setActive('reindex')" [class.selected]="selectedOption === 'reindex'">
      <h2><span class="primary">{{ 'Re-index Pages' | translate }}</span></h2>
      <p>{{ 'Republish the sitemap and pages index.' | translate }}</p>
      <div class="app-list-actions">
          <a class="primary" (click)="reindex()">{{'Execute' | translate }}</a>
      </div>
    </div>
    <!-- sitemap -->

    <div class="app-list-item" (mouseenter)="setActive('sitemap')" (click)="setActive('sitemap')" [class.selected]="selectedOption === 'sitemap'">
      <h2><span class="primary">{{ 'Re-publish Sitemap' | translate }}</span></h2>
      <p>{{ 'Republish the sitemap when you make changes outside of the application.' | translate }}</p>
      <div class="app-list-actions">
          <a class="primary" (click)="sitemap()">{{'Execute' | translate }}</a>
      </div>
    </div>
    <!-- sitemap -->

    <div class="app-list-item" (mouseenter)="setActive('templates')" (click)="setActive('templates')" [class.selected]="selectedOption === 'templates'">
      <h2><span class="primary">{{ 'Republish Templates' | translate }}</span></h2>
      <p>{{ 'Republishes all templates and pushes the updates to pages that inherit from those templates.  Warning: Will overwrite any custom HTML outside of the [role=main] block with HTML from the template.' | translate }}</p>
      <div class="app-list-actions">
          <a class="primary" (click)="templates()">{{'Execute' | translate }}</a>
      </div>
    </div>
    <!-- republish template -->

    <div class="app-list-item" (mouseenter)="setActive('update-plugins')" (click)="setActive('update-plugins')" [class.selected]="selectedOption === 'update-plugins'">
      <h2><span class="primary">{{ 'Update Plugins' | translate }}</span></h2>
      <p>{{ 'Updates the plugins code, css, js, and json file. Warning: will overwrite any custom updates you made to plugins built into the theme.' | translate }}</p>
      <div class="app-list-actions">
          <a class="primary" (click)="update()">{{'Execute' | translate }}</a>
      </div>
    </div>
    <!-- update plugins -->

  </div>

</section>

<respond-drawer active="advanced" [visible]="drawerVisible" (onHide)="reset()"></respond-drawer>