<respond-message></respond-message>

<menu class="app-menu">

    <button class="app-more" (click)="toggleDrawer()"><i class="material-icons">menu</i></button>
    
    <h1>{{ 'Submissions' | translate }}</h1>

</menu>

<section class="app-main">

  <div id="submissions-list" class="app-list">
    <div class="app-list-item" *ngFor="let submission of submissions" (mouseenter)="setActive(submission)" (click)="setActive(submission)" [class.selected]="submission === selectedSubmission">
      <h2><span class="primary"><a (click)="showView(submission)">{{ submission.name }}</a></span><span class="secondary">{{ submission.date | timeAgo }}</span></h2>
      <small>{{ submission.formId }}</small>
      <div class="app-list-actions">
          <a *ngIf="role=='admin'" (click)="showRemove(submission)">{{ 'Remove Submission' | translate }}</a>
          <a (click)="showView(submission)" class="primary">{{ 'View Submission' | translate }}</a>
      </div>
    </div>
  </div>
  
  <p class="no-list-items" *ngIf="submissions.length === 0">{{ 'Nothing here yet' | translate }}</p>

</section>

<respond-view-submission [visible]="viewVisible" [submission]="submission" (onCancel)="reset()" (onUpdate)="list()" (onError)="failure($event)"></respond-view-submission>
<respond-remove-submission [visible]="removeVisible" [submission]="submission" (onCancel)="reset()" (onUpdate)="list()" (onError)="failure($event)"></respond-remove-submission>

<respond-drawer active="submissions" [visible]="drawerVisible" (onHide)="reset()"></respond-drawer>