<div class="logo"><img src="{{ logoUrl }}"></div>

<form class="app-form standalone" (submit)="login($event, email.value, password.value, site.value)">

    <label>{{ 'Email' | translate }}</label>
    <input type="text" name="email" #email>

    <label>{{ 'Password' | translate }}</label>
    <input type="password" name="password" #password>

    <div [hidden]="!hasMultipleSites">
        <label>{{ 'Site Name' | translate }}</label>
        <input type="text" name="site" #site>
    </div>

    <button type="submit" class="primary-button">{{ 'Login' | translate }}</button>

    <div class="secondary-actions">
        <a (click)="forgot()">{{ 'Forgot Password?' | translate }}</a>

        <a (click)="create()">{{ 'Create Site' | translate }}</a>
    </div>

</form>

<p class="acknowledgement" [innerHTML]="acknowledgement"></p>