<respond-subscribe></respond-subscribe>

<menu class="app-menu" [class.noborder]="galleries.length !== 0">

    <button class="app-more" (click)="toggleDrawer()"><i class="material-icons">menu</i></button>
    
    <h1>{{ 'Galleries' | translate }}</h1>

    <div class="app-actions">
      <button (click)="showSelect()">
        <i class="material-icons">add</i>
        <span>{{ 'Add Image' | translate }}</span>
      </button>

      <button (click)="toggleOverflow()">
          <i class="material-icons">more_vert</i>
          <span>{{ 'More' | translate }}</span>
        </button>
    </div>
</menu>

<section class="app-main">

  <nav class="app-selector">
    <ul>
      <li *ngFor="let gallery of galleries" [class.selected]="gallery.id === selectedGallery.id" (click)="setActive(gallery)">
        <a>{{gallery.name}}</a>
      </li>
    </ul>
  </nav>

  <div id="images-list" class="app-list">
    <div class="app-list-item" *ngFor="let image of images" (mouseenter)="setImageActive(image)" (click)="setImageActive(image)" [class.selected]="image === selectedImage" [class.image]="image.thumb !== ''">
      <h2><span class="primary"><a (click)="showEditImage(image)">{{ image.name }}</a></span></h2>
      <img *ngIf="image.thumb !== ''" class="image" src="sites/{{id}}/{{image.thumb}}">
      <small>{{ image.caption }}</small>
      <div class="app-list-actions">
          <span class="app-list-alternate-actions">
            <a (click)="moveImageDown(image)">{{ 'Move Down' | translate }}</a>
            <a (click)="moveImageUp(image)">{{ 'Move Up' | translate }}</a>
          </span>
          <a (click)="showRemoveImage(image)">{{ 'Remove' | translate }}</a>
          <a (click)="showEditImage(image)" class="primary">{{ 'Edit Caption' | translate }}</a>
      </div>
    </div>

    <p class="no-list-items" *ngIf="images.length === 0">
      {{ 'Nothing here yet' | translate }}
      <a (click)="showSelect()" *ngIf="galleries.length !== 0 && images.length === 0">{{ 'Add Image' | translate }}</a>
      <a (click)="showAdd()" *ngIf="galleries.length === 0">{{ 'Add Gallery' | translate }}</a>
    </p>

  </div>

</section>

<respond-add-gallery [visible]="addVisible" (onCancel)="reset()" (onAdd)="list()" (onError)="failure($event)"></respond-add-gallery>

<respond-edit-gallery [visible]="editVisible" [gallery]="selectedGallery" (onCancel)="reset()" (onUpdate)="list()" (onError)="failure($event)"></respond-edit-gallery>

<respond-remove-gallery [visible]="removeVisible" [gallery]="selectedGallery" (onCancel)="reset()" (onUpdate)="list()" (onError)="failure($event)"></respond-remove-gallery>

<respond-select-file [visible]="selectVisible" (onCancel)="reset()"  (onSelect)="select($event)" (onError)="failure($event)"></respond-select-file>

<respond-edit-caption [visible]="editImageVisible" [gallery]="selectedGallery" [image]="selectedImage" (onCancel)="reset()" (onAdd)="list()" (onError)="failure($event)"></respond-edit-caption>

<respond-remove-gallery-image [visible]="removeImageVisible" [gallery]="selectedGallery" [image]="selectedImage" (onCancel)="reset()" (onUpdate)="list()" (onError)="failure($event)"></respond-remove-gallery-image>

<respond-drawer active="galleries" [visible]="drawerVisible" (onHide)="reset()"></respond-drawer>

<nav class="app-overflow" [class.visible]="overflowVisible === true">

  <ul>
    <li class="app-overflow-title"><span>{{ 'Additional Options' | translate }}</span></li>
    <li><a (click)="showAdd()">{{ 'Add Gallery' | translate }}</a></li>
    <li><a (click)="showEdit()">{{ 'Edit Gallery' | translate }}</a></li>
    <li><a (click)="showRemove()">{{ 'Remove Gallery' | translate }}</a></li>
  </ul>

</nav>