<respond-subscribe></respond-subscribe>

<menu class="app-menu">

  <button class="app-more" (click)="toggleDrawer()"><i class="material-icons">menu</i></button>
  
  <h1>{{ 'Products' | translate }}</h1>

  <div class="app-actions">
    <button (click)="showAdd()">
      <i class="material-icons">add</i>
      <span>{{ 'Add Product' | translate }}</span>
    </button>
  </div>

</menu>

<section class="app-main">

    <div class="app-search">
      <i class="search material-icons">search</i>
      <input type="search" [(ngModel)]="search" (input)="searchList()" placeholder="{{ 'Search by Name or ID' | translate }}">
    </div>

    <div id="products-list" class="app-list">
      <div class="app-list-item" *ngFor="let product of filteredProducts" (mouseenter)="setActive(product)" (click)="setActive(product)" [class.selected]="product === selectedProduct">
        <h2>
          <span class="primary"><a (click)="edit(product)">{{ product.name }}</a></span>
          <span class="secondary">${{ product.price }} USD</span>
        </h2>
        <small>
          {{ product.id }}
        </small>
        <div class="app-list-actions">
            <a *ngIf="role=='admin'" (click)="showRemove(product)">{{'Remove' | translate }}</a>
            <a (click)="editPage(product)">{{'Edit Page' | translate }}</a>
            <a class="primary" (click)="edit(product)">{{'Edit' | translate }}</a>
        </div>
      </div>
    </div>

    <p class="no-list-items" *ngIf="products.length === 0">
      {{ 'Nothing here yet' | translate }}
    </p>
  
</section>

<respond-add-product [visible]="addVisible" (onCancel)="reset()" (onAdd)="list('add')" (onError)="failure($event)"></respond-add-product>
<respond-remove-product [visible]="removeVisible" [product]="product" (onCancel)="reset()" (onUpdate)="list('remove')" (onError)="failure($event)"></respond-remove-product>

<respond-drawer active="products" [visible]="drawerVisible" (onHide)="reset()"></respond-drawer>
