<respond-subscribe></respond-subscribe>

<menu class="app-menu" [class.noborder]="forms.length !== 0">

    <button class="app-more" (click)="toggleDrawer()"><i class="material-icons">menu</i></button>
    
    <h1>{{ 'Forms' | translate }}</h1>

    <div class="app-actions">
      <button (click)="showAddField()">
        <i class="material-icons">add</i>
        <span>{{ 'Add Form Field' | translate }}</span>
      </button>

      <button (click)="toggleOverflow()">
          <i class="material-icons">more_vert</i>
          <span>{{ 'More' | translate }}</span>
        </button>
    </div>

</menu>

<section class="app-main">

  <nav class="app-selector">
    <ul>
      <li *ngFor="let form of forms" [class.selected]="form.id === selectedForm.id" (click)="setActive(form)">
        <a>{{form.name}}</a>
      </li>
      <li class="app-selector-add">
        <a (click)="showAdd()">
          <i class="material-icons">add</i>
          <span>{{ 'Add Form' | translate }}</span>
        </a>
      </li>
    </ul>
  </nav>


  <div id="fields-list" class="app-list" [sortablejs]="fields" [sortablejsOptions]="options">
    <div class="app-list-item sortable" *ngFor="let field of fields" (mouseenter)="setFieldActive(field)" (click)="setFieldActive(field)" [class.selected]="field === selectedField">
      
      <i class="sortable-handle material-icons">apps</i>

      <h2><span class="primary"><a (click)="showEditField(field)">{{ field.label }}</a></span></h2>
      <small>{{ field.type | translate }}</small>
      <div class="app-list-actions">
          <a *ngIf="role=='admin'" (click)="showRemoveField(field)">{{ 'Remove' | translate }}</a>
          <a class="primary" (click)="showEditField(field)">{{ 'Edit' | translate }}</a>
      </div>
    </div>
  </div>

  <p class="no-list-items" *ngIf="fields.length === 0">
    {{ 'Nothing here yet' | translate }}
    <a (click)="showAddField()" *ngIf="forms.length !== 0 && fields.length === 0">{{ 'Add Form Field' | translate }}</a>
    <a (click)="showAdd()" *ngIf="forms.length === 0">{{ 'Add Form' | translate }}</a>
  </p>

</section>

<respond-add-form [visible]="addVisible" (onCancel)="reset()" (onAdd)="list('add')" (onError)="failure($event)"></respond-add-form>

<respond-edit-form [visible]="editVisible" [form]="selectedForm" (onCancel)="reset()" (onUpdate)="list('edit')" (onError)="failure($event)"></respond-edit-form>

<respond-remove-form [visible]="removeVisible" [form]="selectedForm" (onCancel)="reset()" (onUpdate)="list('remove')" (onError)="failure($event)"></respond-remove-form>

<respond-add-form-field [visible]="addFieldVisible" [form]="selectedForm" (onCancel)="reset()" (onAdd)="list('add')" (onError)="failure($event)"></respond-add-form-field>

<respond-edit-form-field [visible]="editFieldVisible" [form]="selectedForm" [field]="selectedField" [index]="selectedIndex" (onCancel)="reset()" (onAdd)="list('edit')" (onError)="failure($event)"></respond-edit-form-field>

<respond-remove-form-field [visible]="removeFieldVisible" [form]="selectedForm" [field]="selectedField" [index]="selectedIndex" (onCancel)="reset()" (onUpdate)="list('remove')" (onError)="failure($event)"></respond-remove-form-field>

<respond-drawer active="forms" [visible]="drawerVisible" (onHide)="reset()"></respond-drawer>

<nav class="app-overflow" [class.visible]="overflowVisible === true">

  <ul>
    <li class="app-overflow-title"><span>{{ 'Additional Options' | translate }}</span></li>
    <li><a (click)="showAdd()">{{ 'Add Form' | translate }}</a></li>
    <li><a (click)="showEdit()">{{ 'Edit Form' | translate }}</a></li>
    <li><a *ngIf="role=='admin'" (click)="showRemove()">{{ 'Remove Form' | translate }}</a></li>
  </ul>

</nav>