<respond-subscribe></respond-subscribe>

<menu class="app-menu">

    <button class="app-more" (click)="toggleDrawer()"><i class="material-icons">menu</i></button>
    
    <h1>{{ 'Components' | translate }}</h1>

    <div class="app-actions">
      <button (click)="showAdd()">
        <i class="material-icons">add</i>
        <span>{{ 'Add Component' | translate }}</span>
      </button>
    </div>

</menu>

<section class="app-main">

  <div id="components-list" class="app-list">
    <div class="app-list-item" *ngFor="let component of components" (mouseenter)="setActive(component)" (click)="setActive(component)" [class.selected]="component === selectedComponent">
      <h2>
        <span class="primary"><a (click)="edit(component)">{{ component.title }}</a></span>
      </h2>
      <small>
        {{ component.url }}
      </small>
      <div class="app-list-actions">
          <a (click)="showRemove(component)">{{'Remove' | translate }}</a>
          <a (click)="editCode(component)">{{'Edit HTML' | translate }}</a>
          <a class="primary" (click)="edit(component)">{{'Edit' | translate }}</a>
      </div>
    </div>
  </div>

  <p class="no-list-items" *ngIf="components.length === 0">{{ 'Nothing here yet' | translate }}</p>

</section>

<respond-add-component [visible]="addVisible" (onCancel)="reset()" (onAdd)="list('add')" (onError)="failure($event)"></respond-add-component>

<respond-remove-component [visible]="removeVisible" [component]="component" (onCancel)="reset()" (onUpdate)="list('remove')" (onError)="failure($event)"></respond-remove-component>

<respond-drawer active="components" [visible]="drawerVisible" (onHide)="reset()"></respond-drawer>