<menu class="app-menu">

    <button class="app-more" (click)="toggleDrawer()"><i class="material-icons">menu</i></button>
    
    <h1>{{ 'Users' | translate }}</h1>

    <button class="app-add" (click)="showAdd()"><i class="material-icons">add</i></button>
    
</menu>

<section class="app-main">

  <div id="users-list" class="app-list">
    <div class="app-list-item" *ngFor="let user of users" (mouseenter)="setActive(user)" (click)="setActive(user)" [class.selected]="user === selectedUser">
      <h2><span class="primary"><a (click)="showEdit(user)" >{{ user.firstName }} {{ user.lastName }}</a></span></h2>
      <small>{{ user.email }}</small>
      <div class="app-list-actions">
          <a (click)="showRemove(user)">{{ 'Remove' | translate }}</a>
          <a (click)="showEdit(user)" class="primary">{{ 'Edit' | translate }}</a>
      </div>
    </div>
  </div>
  
  <p class="no-list-items" *ngIf="users.length === 0">{{ 'Nothing here yet' | translate }}</p>

</section>

<respond-add-user [visible]="addVisible" (onCancel)="reset()" (onAdd)="list()" (onError)="failure($event)"></respond-add-user>

<respond-edit-user [visible]="editVisible" [user]="user" (onCancel)="reset()" (onUpdate)="list()" (onError)="failure($event)"></respond-edit-user>

<respond-remove-user [visible]="removeVisible" [user]="user" (onCancel)="reset()" (onUpdate)="list()" (onError)="failure($event)"></respond-remove-user>

<respond-drawer active="users" [visible]="drawerVisible" (onHide)="reset()"></respond-drawer>