<div class="app-modal" [class.visible]="visible === true">

  <form (ngSubmit)="submit()" #addForm="ngForm">

    <h2>{{ 'Edit Element' | translate }}</h2>

    <label>{{ 'ID' | translate }}</label>
    <input id="edit-element-id" type="text" maxlength="128" placeholder="" required
      [(ngModel)]="model.id"
      name="id">

    <label>{{ 'CSS Class' | translate }}</label>
    <input id="edit-element-class" type="text" maxlength="128" placeholder="" required
      [(ngModel)]="model.cssClass"
      name="cssclass">

    <label>{{ 'HTML' | translate }}</label>
    <textarea id="edit-element-html" type="text"
      [(ngModel)]="model.html"
      name="html"></textarea>

    <div *ngFor="let attribute of attributes">

      <div [ngSwitch]="attribute.type">

        <div *ngSwitchCase="'text'">
          <label>{{attribute.label | translate }}</label>
          <input type="text" id="{{attribute.attr}}" name="{{attribute.attr}}" [(ngModel)]="attribute.attr">
        </div>

        <div *ngSwitchCase="'select'">
          <label>{{attribute.label | translate }}</label>
          <select id="{{attribute.attr}}" name="{{attribute.attr}}" [(ngModel)]="attribute.value">
            <option *ngFor="let value of attribute.values" [value]="value">{{value}}</option>
          </select>
        </div>

        <div *ngSwitchCase="'form'">
          <label>{{attribute.label | translate }}</label>
          <select id="{{attribute.attr}}" name="{{attribute.attr}}" [(ngModel)]="attribute.value">
            <option *ngFor="let form of forms" [value]="form.id">{{form.name}}</option>
          </select>
        </div>

        <div *ngSwitchCase="'gallery'">
          <label>{{attribute.label | translate }}</label>
          <select id="{{attribute.attr}}" name="{{attribute.attr}}" [(ngModel)]="attribute.value">
            <option *ngFor="let gallery of galleries" [value]="gallery.id">{{gallery.name}}</option>
          </select>
        </div>

        <div *ngSwitchCase="'page'">
          <label>{{attribute.label | translate }}</label>
          <select id="{{attribute.attr}}" name="{{attribute.attr}}" [(ngModel)]="attribute.value">
            <option *ngFor="let pages of pages" [value]="page.url">{{page.title}}</option>
          </select>
        </div>

        <div *ngSwitchCase="'component'">
          <label>{{attribute.label | translate }}</label>
          <select id="{{attribute.attr}}" name="{{attribute.attr}}" [(ngModel)]="attribute.value">
            <option *ngFor="let component of components" [value]="component.url">{{component.title}}</option>
          </select>
        </div>

      </div>

    </div>
  
    <div class="actions">
      <a (click)="hide()">{{ 'Cancel' | translate }}</a>
      <button type="submit">{{ 'Update' | translate }}</button>
    </div>

  </form>

</div>