<div class="app-edit-menu-section" [class.visible]="visible === true">

  <form (ngSubmit)="submit()" #addForm="ngForm" ngNativeValidate>

    <h4 *ngIf="showRemove == false" (click)="toggleIsExpanded()" [class.collapsed]="isExpanded == false">{{ 'Element' | translate }}
      <i *ngIf="isExpanded == false" class="expand-icon material-icons">expand_more</i>
      <i *ngIf="isExpanded == true" class="expand-icon material-icons">expand_less</i>
    </h4>

    <div *ngIf="isExpanded == true">

      <label>{{ 'ID' | translate }}</label>
      <input id="edit-element-id" type="text" maxlength="128" placeholder=""
        [(ngModel)]="model.id"
        name="id" (change)="submit()">

      <label>{{ 'CSS Class' | translate }}</label>
      <input id="edit-element-class" type="text" maxlength="128" placeholder=""
        [(ngModel)]="model.cssClass"
        name="cssclass" (change)="submit()">

      <i class="format-icon material-icons" (click)="setAlignment('left')" [class.selected]="model.textAlignment =='left'">format_align_left</i>
      <i class="format-icon material-icons" (click)="setAlignment('center')" [class.selected]="model.textAlignment =='center'">format_align_center</i>
      <i class="format-icon material-icons" (click)="setAlignment('right')" [class.selected]="model.textAlignment =='right'">format_align_right</i>

      <label>{{ 'Text Color' | translate }} <a (click)="resetTextColor()">{{'Reset' | translate }}</a></label>
      <input id="edit-element-text-color" type="color"
        [(ngModel)]="model.textColor"
        name="textColor" (change)="submit()">

      <label>{{ 'Text Shadow' | translate }} <a (click)="resetTextShadow()">{{'Reset' | translate }}</a></label>

      <div class="text-shadow-container">
        <input id="edit-block-text-shadow-color" type="color"
          [(ngModel)]="model.textShadowColor"
          name="textShadowColor" (change)="submit()">

        <input id="edit-element-text-shadow-horizontal" type="number"
          [(ngModel)]="model.textShadowHorizontal"
          name="textShadowHorizontal" (change)="submit()" placeholder="H">

        <input id="edit-element-text-shadow-vertical" type="number"
          [(ngModel)]="model.textShadowVertical"
          name="textShadowVertical" (change)="submit()" placeholder="V">

        <input id="edit-element-text-shadow-blur" type="number"
          [(ngModel)]="model.textShadowBlur"
          name="textShadowBlur" (change)="submit()" placeholder="B">
      </div>

      <div *ngFor="let attribute of attributes">

        <div [ngSwitch]="attribute.type">

          <div *ngSwitchCase="'text'">
            <label>{{attribute.label | translate }}</label>
            <input type="text" id="{{attribute.attr}}" name="{{attribute.attr}}" [(ngModel)]="attribute.value" (change)="submit()">
          </div>

          <div *ngSwitchCase="'select'">
            <label>{{attribute.label | translate }}</label>headline
            <select id="{{attribute.attr}}" name="{{attribute.attr}}" [(ngModel)]="attribute.value" (change)="submit()">
              <option *ngFor="let value of attribute.values" [value]="value">{{value}}</option>
            </select>
          </div>

          <div *ngSwitchCase="'form'">
            <label>{{attribute.label | translate }}</label>
            <select id="{{attribute.attr}}" name="{{attribute.attr}}" [(ngModel)]="attribute.value" (change)="submit()">
              <option *ngFor="let form of forms" [value]="form.id">{{form.name}}</option>
            </select>
          </div>

          <div *ngSwitchCase="'gallery'">
            <label>{{attribute.label | translate }}</label>
            <select id="{{attribute.attr}}" name="{{attribute.attr}}" [(ngModel)]="attribute.value" (change)="submit()">
              <option *ngFor="let gallery of galleries" [value]="gallery.id">{{gallery.name}}</option>
            </select>
          </div>

          <div *ngSwitchCase="'page'">
            <label>{{attribute.label | translate }}</label>
            <select id="{{attribute.attr}}" name="{{attribute.attr}}" [(ngModel)]="attribute.value" (change)="submit()">
              <option *ngFor="let pages of pages" [value]="page.url">{{page.title}}</option>
            </select>
          </div>

          <div *ngSwitchCase="'component'">
            <label>{{attribute.label | translate }}</label>
            <select id="{{attribute.attr}}" name="{{attribute.attr}}" [(ngModel)]="attribute.value" (change)="submit()">
              <option *ngFor="let component of components" [value]="component.url">{{component.name}}</option>
            </select>
          </div>

          <div *ngSwitchCase="'product'">
            <label>{{attribute.label | translate }} <a (click)="editProduct(attribute.value)">{{ 'Edit' | translate }}</a></label>
            <select id="{{attribute.attr}}" name="{{attribute.attr}}" [(ngModel)]="attribute.value" (change)="submit()">
              <option *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
            </select>
          </div>

          <div *ngSwitchCase="'file'">
            <label>{{attribute.label | translate }} <a (click)="showSelect(attribute.attr)">{{ 'Select' | translate }}</a></label>
            <input type="text" id="{{attribute.attr}}" name="{{attribute.attr}}" [(ngModel)]="attribute.value" (change)="submit()">
          </div>

        </div>

      </div>

      <label>{{ 'HTML' | translate }} <a (click)="toggleHtml()">{{'Show' | translate }}</a></label>
      <textarea id="edit-element-html"
        [(ngModel)]="model.html"
        name="html" (change)="submit()" *ngIf="isHtmlExpanded"></textarea>

      <a class="button" (click)="remove()"><i  class="cancel-icon material-icons">close</i> {{'Remove' | translate }}</a>

    </div>

  </form>

</div>

<respond-select-file [visible]="selectVisible" (onCancel)="reset()"  (onSelect)="select($event)" (onError)="failure($event)"></respond-select-file>
