<respond-subscribe></respond-subscribe>

<menu class="app-menu">

    <button class="app-more" (click)="toggleDrawer()"><i class="material-icons">menu</i></button>
    
    <h1>{{ 'Files' | translate }}</h1>

</menu>

<section class="app-main">

  <respond-dropzone (onAdd)="list()"></respond-dropzone>

  <div id="files-list" class="app-list">
    <div class="app-list-item" *ngFor="let  file of files" (mouseenter)="setActive(file)" (click)="setActive(file)" [class.selected]="file === selectedFile" [class.image]="file.thumb !== ''">
      <h2><span class="primary">{{ file.name }}</span><span class="secondary">{{ file.size }} MB</span></h2>
      <img *ngIf="file.thumb !== ''" class="image" src="{{file.thumb}}">
      <small>/files/{{ file.name }}</small>
      <div class="app-list-actions">
          <a (click)="showRemove(file)">{{ 'Remove' | translate }}</a>
      </div>
    </div>
  </div>

  <p class="no-list-items" *ngIf="files.length === 0">{{ 'Nothing here yet' | translate }}</p>

</section>

<respond-remove-file [visible]="removeVisible" [file]="file" (onCancel)="reset()" (onUpdate)="list()" (onError)="failure($event)"></respond-remove-file>

<respond-drawer active="files" [visible]="drawerVisible" (onHide)="reset()"></respond-drawer>