<respond-subscribe></respond-subscribe>

<menu class="app-menu has-back">
    <button class="app-back" (click)="back()"><i class="material-icons">arrow_back</i></button>

    <h1>{{ 'Edit' | translate }}</h1>

    <div class="app-actions">

        <button (click)="showFocused()" *ngIf="mode != 'component'">
            <i class="material-icons">filter_tilt_shift</i>
            <span *ngIf="mode == 'page'">{{ 'Focused Mode' | translate }}</span>
            <span *ngIf="mode == 'focused'">{{ 'WYSIWYG Mode' | translate }}</span>
        </button>
        
        <button (click)="showPage()">
            <i class="material-icons">launch</i>
            <span>{{ 'View Page' | translate }}</span>
        </button>

        <button (click)="showAdd()">
            <i class="material-icons">add</i>
            <span>{{ 'Add Content' | translate }}</span>
        </button>
    </div>

</menu>

<footer class="app-footer">
    <a (click)="save()">{{ 'Save' | translate }}</a>
</footer>

<section class="edit-main">
    <iframe #editFrame [src]="url" class="edit-frame"></iframe>
</section>

<respond-drawer active="pages" [confirm]="true" [visible]="drawerVisible" (onHide)="reset()"></respond-drawer>

<respond-edit-element [visible]="editElementVisible" [attrs]="attrs" (onCancel)="reset()" (onUpdate)="update($event)"></respond-edit-element>

<respond-confirm [visible]="confirmVisible" (onCancel)="cancelNavigation()" (onContinue)="continueNavigation()"></respond-confirm>