<menu class="app-menu has-back">
    <button class="app-back" (click)="back()"><i class="material-icons">arrow_back</i></button>

    <h1>{{ 'Edit' | translate }}</h1>

    <div class="app-actions">

        <!--
        <button (click)="showFocused()" *ngIf="mode != 'component'">
            <i class="material-icons">filter_tilt_shift</i>
            <span *ngIf="mode == 'page'">{{ 'Focused Mode' | translate }}</span>
            <span *ngIf="mode == 'focused'">{{ 'WYSIWYG Mode' | translate }}</span>
        </button> -->

        <button (click)="showPage()">
            <i class="material-icons">launch</i>
            <span>{{ 'View Page' | translate }}</span>
        </button>

        <button (click)="showAddBlock()">
            <i class="material-icons">view_column</i>
            <span>{{ 'Add Layout' | translate }}</span>
        </button>

        <button (click)="showAdd()">
            <i class="material-icons">add</i>
            <span>{{ 'Add Content' | translate }}</span>
        </button>
    </div>

</menu>

<aside class="app-edit-menu visible">

    <div class="app-edit-menu-section visible">

        <h4>{{ 'Text' | translate }}</h4>

        <i class="format-icon material-icons" (click)="sendCommand('Bold')">format_bold</i>
        <i class="format-icon material-icons" (click)="sendCommand('Italic')">format_italic</i>
        <i class="format-icon material-icons" (click)="sendCommand('Underline')">format_underlined</i>
        <i class="format-icon material-icons" (click)="sendCommand('Link')">link</i>

    </div>

    <respond-edit-element [properties]="element.properties" [attributes]="element.attributes" (onCancel)="reset()" (onUpdate)="update($event)" (onCommand)="sendCommand($event)"></respond-edit-element>
    <respond-edit-block [properties]="block.properties" (onCancel)="reset()" (onUpdate)="update($event)" (onCommand)="sendCommand($event)"></respond-edit-block>   
</aside>

<footer class="app-footer">
    <button (click)="save()">{{ 'Save' | translate }}</button>
</footer>

<section class="edit-main">
    <iframe #editFrame [src]="url" class="edit-frame"></iframe>
</section>

<respond-drawer active="pages" [confirm]="true" [visible]="drawerVisible" (onHide)="reset()"></respond-drawer>

<respond-add-block [visible]="addBlockVisible" (onCancel)="reset()" (onUpdate)="addBlock($event)"></respond-add-block>

<respond-edit-image [visible]="editImageVisible" [properties]="image.properties" (onCancel)="reset()" (onUpdate)="update($event)"></respond-edit-image>

<respond-edit-link [visible]="editLinkVisible" [properties]="link.properties" (onCancel)="reset()" (onUpdate)="update($event)"></respond-edit-link>

<respond-confirm [visible]="confirmVisible" (onCancel)="cancelNavigation()" (onContinue)="continueNavigation()"></respond-confirm>