<respond-subscribe></respond-subscribe>

<menu class="app-menu no-border">

    <button class="app-more" (click)="toggleDrawer()"><i class="material-icons">menu</i></button>
    
    <h1>{{ 'Settings' | translate }}</h1>

</menu>

<form class="app-form settings-form" (ngSubmit)="submit()" #settingsForm="ngForm">

<section class="app-main">

    <nav class="app-selector">
      <ul>
        <li *ngFor="let tab of tabs" [class.selected]="tab.index === tabIndex">
          <a (click)="showIndex(tab.index)">{{tab.title}}</a>
        </li>
      </ul>
    </nav>

    <div class="app-settings-container">

    <ng-container *ngFor="let setting of settings">

      <ng-container *ngIf="setting.tabIndex == tabIndex">

        <ng-container [ngSwitch]="setting.type">

          <div *ngSwitchCase="'text'">
            <label>{{setting.label | translate }}</label>
            <input type="text" id="{{setting.id}}" name="{{setting.id}}" [(ngModel)]="setting.value">
            <small *ngIf="setting.description != ''">{{setting.description | translate }}</small>
          </div>

          <div *ngSwitchCase="'number'">
            <label>{{setting.label | translate }}</label>
            <input type="number" id="{{setting.id}}" name="{{setting.id}}" [(ngModel)]="setting.value">
            <small *ngIf="setting.description != ''">{{setting.description | translate }}</small>
          </div>

          <div *ngSwitchCase="'color'">
            <label>{{setting.label | translate }}</label>
            <input type="color" id="{{setting.id}}" name="{{setting.id}}" [(ngModel)]="setting.value">
            <small *ngIf="setting.description != ''">{{setting.description | translate }}</small>
          </div>

          <div *ngSwitchCase="'image'">
            <label>{{setting.label | translate }} <a (click)="showSelect(setting)">{{ 'Select' | translate }}</a></label>
            <input type="text" id="{{setting.id}}" name="{{setting.id}}" [(ngModel)]="setting.value">
            <small *ngIf="setting.description != ''">{{setting.description | translate }}</small>
          </div>

          <div *ngSwitchCase="'select'">
            <label>{{setting.label | translate }}</label>
            <select id="{{setting.id}}" name="{{setting.id}}" [(ngModel)]="setting.value">
              <option *ngFor="let option of setting.options" [value]="option">{{option}}</option>
            </select>
            <small *ngIf="setting.description != ''">{{setting.description | translate }}</small>
          </div>

        </ng-container>

      </ng-container>

    </ng-container>

  </div>

</section>


<footer class="app-footer">
    <div class="app-footer-actions">
      <button type="submit">{{ 'Save' | translate }}</button>
    </div>
</footer>

</form>


<respond-select-file [visible]="selectVisible" (onCancel)="reset()"  (onSelect)="select($event)"></respond-select-file>
<respond-drawer active="settings" [visible]="drawerVisible" (onHide)="reset()"></respond-drawer>